<section class="column-imgContent flex_row {{ class }}">
    <div class="left">
        <div class="img">
            <img src="{{ img.url }}" alt="{{ img.alt }}">
        </div>
    </div>
    <div class="right">
        <div class="content">
            {{ content|raw }}
        </div>
    </div>
</section>