.social__icon{
  font-size: 1.6rem;

}
.s_intro__benefits__itm,.s_roadmap__itm {
  img{
    max-width: 80%;
    margin: auto;
    position: relative;
    top: 10%;
  }
  &:hover{
    img{
      filter:brightness(0) invert(1);
    }
  }
}



.s_portfolio__itm__param__ico{
  img{
    max-width: 80%;
    margin: auto;
    position: relative;
    top: 10%;
  }
}

.s_catalog{
  .s_catalog__itm{
    .s_catalog__itm__thumb{
      background-size: cover;
      filter:grayscale(1);
    }
    &:hover{
      .s_catalog__itm__thumb{
        background-size: cover;
        filter:none;
      }
    }
  }
}

.s_services__intro  a{
  color: #ffffff !important;
  cursor: pointer;
}

.is-invalid{
  border-color: #dc3545 !important;
}


.modal{
  .modal-dialog{
    width: 80%;
    margin: auto;
    .modal-content{
      position: relative;
      padding: 50px;
      .close{
        position: absolute;
        border: none;
        background: none;
        font-size: 40px;
        right: 30px;
        top: 20px;
      }
      h4{
        font-weight: 500;
        font-size: 20px;
        color: #002672;
        margin-bottom: 12px;
        text-align: center;
      }
      input:not([type="checkbox"]){
        margin-bottom: 17px;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        line-height: 1.4375em;
        color: #575c65;
        -webkit-font-smoothing: antialiased;
        width: 100%;
        height: 55px;
        border-radius: 8px;
        border: 1px solid #dcdcdc;
        box-shadow: 0 15px 20px 0 rgba(0, 0, 1, .15);
        font-size: 16px;
        letter-spacing: .05em;
        font-weight: 700;
        padding: 0 28px;
        &::selection{
          background-color: #002672;
          color: #fff;
        }
      }
      label.file{
        input[type="file"]{
          display: none;
        }
        cursor:pointer;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        min-width: 370px;
        height: 53px;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: .15em;
        text-transform: uppercase;
        -webkit-border-radius: 27px;
        border-radius: 27px;
        color: #fff;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#003a9f), to(#575b65));
        background-image: -webkit-linear-gradient(top, #003a9f 0, #575b65 100%);
        background-image: -o-linear-gradient(top, #003a9f 0, #575b65 100%);
        background-image: linear-gradient(180deg, #003a9f 0, #575b65 100%);
        position: relative;
        z-index: 1;
        padding: 0;
        border: none;
      }

    }
  }
}

._form{
  .response{
    display: none;
    padding: 30px 50px;
    background: #eff2f9;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    color: green;
  }
}

.selectize-control.catalog__filter__select.single.multi{
  display: none !important;
}

.catalog__search__submit{
  color: #1e4ea1;
  font-size: 25px;
}

//.catalog__list{
//  .wrapper{
//    &:not(:first-child){
//      display: none;
//    }
//  }
//}

.personal{
  margin-bottom: 10px;
  cursor: pointer;
}

.catalog__pager {
  ul{
    flex-wrap: wrap;
    justify-content: center;
  }

}
.catalog__itm{
  justify-content: space-between;
}

.s_card__preview{
  img{
    max-width: 100%;
  }
}

.messageAfterBuy{
  display: block;
  position: fixed;
  left: 10%;
  bottom: -65px;
  width: 80%;
  background: rgba(0,0,0,0.6);
  text-align: center;
  padding: 20px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px 50px 0 0;
  z-index: 9999999999;
}

.catalog__itm{
  justify-content: flex-start;
  .catalog__itm__info{
    width: 65%;
  }
  .catalog__itm__right__wrapper{
    width: 20%;
  }
}
