<section class="s_info bg-blue">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                <div class="s_info__text">
                    <h2 class="s_title">{{ title }}</h2>
                    {{ content }}
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="s_info__map">
                    <div id="map">
                        <div style="position:relative;overflow:hidden;">
                            {{ map }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>