<section class="s_info s_info-service">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                <div class="s_info__text">
                    <h2 class="s_title">{{ title }}</h2>
                    {{ content }}
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-responsive">
            </div>
        </div>
    </div>
</section>