<section class="catalog-all">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-lg-3">
                <div class="sidebar">
                    <h4 class="h4">Каталог</h4>
                    <nav>
                        <li class="active" data-target="0"> Все</li>
                        {% for item in cats %}
                            <li data-target="{{ item.alias }}">{{ item.title }}</li>
                        {% endfor %}
                    </nav>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-lg-9">
                <div class="wrapper">
                    <div class="row">
                        {% for item in items %}
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-lg-4">
                                {% include './blocks/cards/card-furniture.twig'with { item:item,class:'card_product' } %}
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>