<div class="social_network">
    <div class="icons flex_row">
        {% for item in social_networks() %}
            <a href="{{ item.link }}" target="_blank" class="center">
               {{ item.icon | raw }}
            </a>
        {% endfor %}
    </div>

</div>