<div class="personal flex_row align_center" >
    <input type="checkbox" onclick="return false;" checked>
    <span data-target="#personal" data-toggle="modal">Согласен на обработку персональных данных</span>
</div>