<section class="navigation_wrapper">
    <div class="switch_btn"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12">
{#                <nav class="navigation flex_row justify_around align_center">#}
{#                    <li>#}
{#                        <a href="/">#}
{#                            Мебель на заказ#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="/">#}
{#                            Каталог#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="/">#}
{#                            Выполненые работы#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="/">#}
{#                            Отзывы#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="/">#}
{#                            Контакты#}
{#                        </a>#}
{#                    </li>#}
{#                </nav>#}
                {{ menu_header() }}
            </div>
        </div>
    </div>
</section>